<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e4u.autoajuda">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/borboleta"
        android:label="@string/app_name"
        android:roundIcon="@drawable/borboleta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.FraseDiaActivity"></activity>
        <activity android:name=".activities.TecnicasMeditacaoActivity" />
        <activity android:name=".activities.MeditacaoExercicioActivity" />
        <activity android:name=".activities.TecnicasRespiracaoActivity" />
        <activity android:name=".activities.ExercicioDoDiaActivity" />
        <activity android:name=".activities.RelacionamentoActivity" />
        <activity android:name=".activities.NewsReadActivity" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MotivacionalActivity" />
        <activity android:name=".activities.AmizadeActivity" />
        <activity android:name=".activities.EstudosActivity" />
        <activity android:name=".activities.ExerciciosActivity" />
        <activity android:name=".activities.PessoaMelhorActivity" />
        <activity android:name=".activities.SaudeActivity" />
        <activity android:name=".activities.TrabalhoActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9313963887713254~9104853343" />
    </application>

</manifest>